button{
  padding: 15px;
  border-radius: 8px;
  /*border: 2px solid;
  box-shadow: 5px 5px 10px grey;*/
  margin: 0 20px;
}
h2,h4{
  text-align: center;
}
div.outer{
  margin: 50px auto;
  text-align: center;
}
div.inner{
 display: inline-block; 
}
form{
  margin-top: 10px;
  margin-bottom: 10px;
}

table{
  display: inline-table;
}

body{
  /*background: linear-gradient(to bottom right,#5CD6FF, #B6FF5C);
  background-repeat: no-repeat;
  background-attachment: fixed;*/
  height: 100vh;
  font-family: "Comic Sans MS";
  background-image: url("http://i1.kym-cdn.com/photos/images/original/000/663/060/024.png");
  background-repeat: repeat;
}
table{
  margin: auto 20px;
  border: 1px solid black;
  border-collapse: collapse;
}

th{
  padding: 5px;
  border: 1px dotted red;
  
}
td{
  padding: 5px;
  border: 1px dashed blue;
  text-align: center;
}
tr:nth-child(odd){
  background-color: #ff33da;
}
tr:nth-child(even){
  background-color:#00fa2e;
}
