<!-- mlapp/templates/madlibs.html -->

{% extends "layout.html" %}

    {% block head %}
    {#<script src="static/madlib.js"></script>#}
    {#<link rel="stylesheet" type="text/css" href="static/style.css">#}
    {% endblock %}

    {% block body %}
    {% for v in dht %}
    	{{ v.date }} {{v.temp}} {{v.hum}}
	{%else%}
	poop
{% endfor %}

{% for v in sound %}
	{{ v.date }} {{v.audio}} {{v.env}} {{v.gate}}
	{%else%}
	poop
{% endfor %}

{% for v in photo %}
	{{v.date}} {{v.light}} 
	{%else%} poop
	{%endfor%}

    <table>

    </table>
        {% for entry in entries %}
        <p id="{{ entry.business_name | lower() }}-ml">{{entry.business_name}} is a {{entry.business_type}} organization that serves {{entry.market_type}} customers who need {{entry.job_to_be_done}}. We will generate revenue using a {{entry.revenue_model}}.</p>
        {% else %}
        <em> Unbelievable! There are no companies so far!</em>
        {% endfor %}
    </div>
    {% endblock %}
