<!-- mlapp/templates/madlibs.html -->

{% extends "layout.html" %}

    {% block head %}
    {#<script src="static/madlib.js"></script>#}
    <link rel="stylesheet" type="text/css" href="static/style.css">
    {% endblock %}

    {% block body %}
    <h2>{{ date }} </h2>
    <div class="outer"> 
      <div class="inner">
        Temperature: {{temp}} F 
      </div>

      <div class="inner light">
        {{light }} Hours of Sunglight Today
      </div>

      {% if doWater %}
      <div class="inner dry">
        Needs watering!
      </div>
      {% else %}
      <div class="inner wet">
        Water OK!
      </div>
      {% endif %}
    </div>
    <a href={{url_for('viewall')}}>View All</a>
    {% endblock %}
